body {
	background: #ffffff;
}

.movie-app > .row {
	overflow-x: auto;
	flex-wrap: wrap;
}

.image-container {
	position: relative;
	transition: transform 0.2s;
	height: fit-content;
	width: fit-content;
}

.image-container:hover {
	cursor: pointer;
	
}

.image-container:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	background: rgba(223, 217, 217, 0.8);
	width: 100%;
	height: min-content;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	padding: 20px;
	text-align: center;
}
