.movie-container {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 1%;
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.poster-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
    max-height: inherit;
    max-height: 60vh;
}

.movie-details {
    margin-right: 5%;
    padding-left: 1%;
}

.view-seat-button {
    margin-right: 5px;
    margin-left: 5px;
}

.bold {
    font-weight: bold;
}

#delete-button {
    float: right; 
}

.center-container {
    text-align:center;
}